* {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans KR", sans-serif;
    box-sizing: border-box;
    font-size: 16px;
}

.tab_menu button.active{
    background: red;
}
.tab_contents {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* 자식 요소들을 왼쪽 정렬 */
}

.tab_contents .content {
    display: block; /* 요소를 항상 렌더링 */
    width: 20%;
    max-width: 400px;
    opacity: 0;
    visibility: hidden;
    height: 0; /* 초기 높이를 0으로 설정 */
    overflow: hidden; /* 내용이 넘칠 때 숨김 */
    transition: opacity 0.5s ease, background 0.5s ease, height 0.5s ease; /* opacity, background, height에 대한 전환 효과 추가 */
    padding: 0 15px; /* 상하 패딩을 0으로 시작하고 좌우 패딩만 추가 */
    box-sizing: border-box;
}

.tab_contents .content.active {
    opacity: 1;
    visibility: visible;
    height: auto; /* height를 auto로 설정하여 요소의 전체 내용이 표시되도록 함 */
    padding: 15px; /* 패딩을 활성화 상태에서 추가 */
    background: lightblue;
    transition: opacity 0.5s ease, background 0.5s ease, height 0.5s ease, padding 0.5s ease; /* 패딩에 대한 전환 효과 추가 */
}
