.wrap {
  padding: 30px;
}

.gnb_wrap {
    height: 100px;
    background-color: #f0f0f0;
    padding: 0 10px;
    display: flex;
    align-items: center;
}

.gnb {
  display: flex;
}
.gnb > li + li {
  padding-left: 30px;
}
.gnb > li > a {
  display: block;
  line-height: 40px;
  font-size: 18px;
}

.container {
  padding: 20px;
}

.container .list li {
  padding: 10px;
}
